@model TicketViewModel


<nav class="nav-extended ">
    <div class="nav-wrapper">
        <a class="brand-logo" asp-area="" asp-controller="Home" asp-action="Dashboard">IssueTracker</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
                @if( @ViewBag.User.UserPrivilage < 2){
                <li class="tab">
                    <a asp-area="" asp-controller="Home" asp-action="NewTicket">Create Ticket</a>
                </li>
                    }
                <li class="tab">
                    <a asp-area="" asp-controller="Home" asp-action="TicketSearch">Search</a>
                </li>
          
                <li class="tab">
                    <a asp-area="" asp-controller="Home" asp-action="Logout">Log Out</a>
                </li>
            </ul>
    </div>
       
</nav>


<div>
    <div class="card">
        <div class="card-content">
            <h4 class="card-title">Details of Ticket #@Model.Ticket.TicketId</h4>
            <div class="divider"></div>
            <p>Issue:@Model.Ticket.Title</p>
            <p>Description:@Model.Ticket.Description</p>
            <p>Priority Level:@Model.Ticket.Priority</p>
            <p>Current Status:@Model.Ticket.Status</p>
            <p>Deadline:@Model.Ticket.Deadline</p>
            <p>Assigned By:@Model.Ticket.Creator.FirstName @Model.Ticket.Creator.LastName</p>
            <p>Assigned To:@Model.Ticket.AssignedUser.FirstName @Model.Ticket.AssignedUser.LastName</p>
        </div>
    </div> 
</div>